body {
  background: rgb(46, 25, 7);
  color: rgb(177, 113, 113);
  padding: 10px;
  font-family: Arial, sans-serif;
}

#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(245, 238, 219);
  margin: 0 auto;
  display: flex;
  padding: 10px;
}

h1 {
  display: flex;
  align-items: center;
  color: rgb(177, 113, 113);
  flex: 1;
  margin: 0;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-li {
  display: inline-block;
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgb(177, 113, 113);
}

/* main container area beneath menu */
main {
  background: rgb(245, 238, 219);
  display: flex;
  margin-top: 20px;
}

.sidebar {
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img {
  width: 300px;
  border: solid 5px;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 12px;
}

/* interests section styles */
#interests {
  border: 4px solid;
  padding: 8px;
  margin-top: 20px;
  border-radius: 10px;
}

h2,
h3 {
  margin: 0px;
}
